{% extends "base.html"%} {% load static %} {% block content %}

<div class="container text-center">
  <div class="row">
    <div class="col-8">

      <br>

      <div class="alert alert-dark" role="alert">
        <div class="container">
          <div class="row">
            <div class="col-1">
              {% if meep.user.profile.profile_image %}
              <img src="{{ meep.user.profile.profile_image.url }}" width="50" height="50" class="rounded-circle"
                alt="{{ meep.user.username }}" />

              {% else %}
              <img src="{% static 'images/dummy.png' %}" width="50" height="50" class="rounded-circle"
                alt="{{ meep.user.username }}" />

              {% endif %}
            </div>
            <div class="col-11">
              {{ meep.body }}<br />
              <small class="text-muted">
                ({{ meep.created_at }}) By
                <a href="{% url 'profile' meep.user.id %}" style="color: grey;">@{{ meep.user }}</a>
                &nbsp&nbsp
                {% if request.user in meep.likes.all %}
                <a href="{% url 'like' meep.id %}"><i class="fa-solid fa-heart" style='color:red'></i></a>

                {% else %}
                <a href="{% url 'like' meep.id %}"><i class="fa fa-heart-o" style='color:red'></i></a>
                {% endif %}
                {{ meep.number_of_likes }}

              </small>
              <br>

            </div>
          </div>
        </div>
      </div>
      <br />




      <br /><br />
      {% if form %}
      <form method="POST">
        {% csrf_token %} {{ form.as_p}}

        <button type="submit" class="btn btn-secondary">Edit Meep!</button>
      </form>
      {% endif %}

    </div>

  </div>
</div>
{% endblock %}